{% extends '/layout.html' %}

{% block body %}
    <div class="Container">
        <div class="top">
            <span>Todays Date: {{ today }}</span>
            <span>Latest BhavCopy Date: {{ bhavday }}</span>
        </div>
        <div class="home">
            <h1>Python Test Task By Zerodha</h1>
            <p>The Script has been Scheduled and the Data updates every Monday to Friday at 10:30 AM IST </p>
            <p> Submitted By <a target="_blank" href="https://www.linkedin.com/in/chiragasourabh/">"Chiragasourabh"</a>.</p>
            <a href="MarketInfo" class="button">GOTO Market Info</a>
        </div>
    </div>
{% endblock %}
