<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
    <div class="Container">
        <div class="topnav">
            <span>{{ date }}</span>
            <div class="search-container">
                <form method="post" action="MarketInfo">
                <input type="text" placeholder="SL Name ..." name="scname">
                <button type="submit">Search</button>
                </form>
            </div>
        </div>

        <div>
            <table id="customers">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                </tr>
                {% for c, item in zip(code,data) %}
                <tr>
                    <td>{{ c.decode() }}</td>
                    <td>{{ item[0].decode() }}</td>
                    <td>{{ item[1].decode() }}</td>
                    <td>{{ item[2].decode() }}</td>
                    <td>{{ item[3].decode() }}</td>
                    <td>{{ item[4].decode() }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>
